<!DOCTYPE html>

<html>
   <head>
      <link rel='stylesheet' type="text/css" href="/static/main.css">
   </head>

   <body>
      <h3 class='heading'>Submit Form</h3>

      <form method="post" id="form-container">
         
         <?
            let shuffle = (array) => array.sort(() => Math.random() - 0.5);
            shuffle(form);
         ?>

         <? for (let el=0; el < form.length; el++) { ?>
            <div class="input">
               <label><?= form[el].name ?></label>
               <input placeholder="<?= form[el].name ?>" name="<?= form[el].data ?>" type="text"/>
            </div>
         <? } ?>

         <div id="timer">
            You can submit the form in : <span id="timer-val"></span>
            <br/> <br/>
         </div>

         <div id="timer2">
            Link expires in : <span id="timer-val-2"></span> seconds
            <br/> <br/>
         </div>

         <button disabled id="submit-btn" type="submit">Submit</button>

      </form>

      <script>
         let $ = x => document.querySelector(x);

         let time = 20;
         let interval = setInterval(()=>{
            time--;
            $('#timer-val').innerHTML = time.toString();
            if(time<=0) {
               clearInterval(interval);
               $("#timer").style.display = 'none';
               $("#submit-btn").removeAttribute('disabled');
            }
         },1000);

         let time2 = 5*60;
         setInterval(() => {
            time2--;
            $("#timer-val-2").innerHTML = time2.toString();
            if(time2 <= 0) {
               $("#timer2").style.display = "none";
               window.location = "/get-url";
            }
         },1000);

      </script>

   </body>
</html>