<!DOCTYPE html>

<html>
   <head>
      <link rel='stylesheet' type="text/css" href="/static/main.css">
   </head>

   <body>
      <h3 class='heading'>Home</h3>

      <center style="margin: 30px 0">
         <button onclick="window.location='/get-url'">
            Go to Form
         </button>
      </center>
   </body>
</html>