*{
   margin: 0;
   padding: 0;
}

html {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading {
   font-weight: 400;
   font-size: 20px;
   padding: 10px;
   border-bottom: 1px solid grey;
}

input {
   padding: 10px;
   border: 0;
   outline: none;
   border-bottom: 2px solid grey;
   background: transparent;
   transition: border-bottom 0.2s;
}
input:focus {
   border-bottom: 2px solid black;
}

button {
   background-color: black;
   padding: 10px;
   color: white;
   border: 0;
   outline: none;
   border-radius: 2px;
   cursor: pointer;
   box-shadow: 0 1px 10px 5px rgba(0,0,0,0.1);
}
button:disabled {
   background-color: rgb(255, 132, 132);
   cursor: not-allowed;
}

.input > label {
   display: block;
   font-weight: 500;
}

.input {
   margin: 20px 0;
}

#form-container {
   margin: 20px 10%;
}